@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'title';
    src: url('assets/fonts/title.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'title';
    src: url('assets/fonts/title-italic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'button';
    src: url('assets/fonts/button.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'brand';
    src: url('assets/fonts/brand.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

html{
    background: none;
}