@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: 'Gil Sans'; /* Gil Sans */
    src: url('assets/fonts/GilSans.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Gil Sans';
    src: url('assets/fonts/GilSansItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Nes Controller';
    src: url('assets/fonts/NesController.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendo';
    src: url('assets/fonts/Pretendo.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('assets/fonts/Univers.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

html{
    background: none;
}

@layer components {
    .nav-menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active), .nav-menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
        --tw-bg-opacity: 1;
        background-color: hsl(var(--b1) / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: hsl(var(--bc) / var(--tw-text-opacity));
    }
}